<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Car rental</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Car rental", "Index", "Rentals", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">@Html.ActionLink("Rents", "Index", "Rentals", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Vehicles", "Index", "Vehicles", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("VehicleBrands", "Index", "VehicleBrands", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("VehicleModels", "Index", "VehicleModels", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Clients", "Index", "Clients", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("DriverLicenses", "Index", "DriverLicenses", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Search For
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Active Rentals By Vehicle Model", "SearchActiveRentalsByVehicleModel", "Inquiries", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Active Rentals By Client", "SearchActiveRentalsByClient", "Inquiries", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Most Profitable Client", "SearchMostProfitableClient", "Inquiries", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Most Profitable Vehicles", "SearchMostProfitableVehicles", "Inquiries", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Most Rented Vehicles", "SearchMostRentedVehicles", "Inquiries", new { area = "" }, new { @class = "dropdown-item" })
                    </div>
                </li>
                <!-- Add links here -->
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Car rental - Valentin Mladenov</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
