@model Pharmacy.WebApp.Models.Sell

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Counterparty
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Counterparty.Stringed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoneAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoneAt)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Medicine Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
        </tr>
        @foreach (var item in Model.SoldMedicines)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicine.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-outline-warning mx-1" })
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-outline-info mx-1" })
</p>
