@model Car.Rental.Web.App.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechnicalInspectionDoneAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnicalInspectionDoneAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-outline-warning mx-1" })
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-outline-info mx-1" })
</p>
