<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Pharmacy", "Index", "Sells", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">@Html.ActionLink("Sells", "Index", "Sells", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("SoldMedicines", "Index", "SoldMedicines", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Deliveries", "Index", "Deliveries", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("DeliveredMedicines", "Index", "DeliveredMedicines", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Medicines", "Index", "Medicines", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("People", "Index", "People", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Firms", "Index", "Firms", new { area = "" }, new { @class = "nav-link" })</li>
               <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Search For
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Lowest Quantity Medicines", "LowestQuantityMedicines", "Inquiries", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Top Ten Most Sold Medicines", "TopTenMostSoldMedicines", "Inquiries", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Top Ten Most Profitable Medicines", "TopTenMostProfitableMedicines", "Inquiries", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Top Ten Most Profitable Clients", "TopTenMostProfitableClients", "Inquiries", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Medicine's Lowest Prices With Supplier", "MedicineLowestPricesWithSupplier", "Inquiries", new { area = "" }, new { @class = "dropdown-item" })
                    </div>
                </li>
                <!-- Add links here -->
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
