@model IEnumerable<Pharmacy.WebApp.Models.Person>

@{
    ViewBag.Title = "TopTenMostProfitableClients";
}

<h2>TopTenMostProfitableClients</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EGN)
        </th>
        <th>
            Total Money From Sales
        </th>
        <th>
            <a href="@ViewBag.CsvString" target="_blank" download="Export.csv" class="btn btn-info">Export</a>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EGN)
        </td>
        <td>@Html.DisplayFor(modelItem => item.MoneyFromSales)</td>
        <td></td>
    </tr>
}

</table>
